<%= render 'shared/errors', object: @message %>
<%= form_for @message, url: messages_path, method: :post do |f| %>
  <div class="form-group">
    <%= f.label :content, 'Message' %>
    <%= f.text_area :content, class: 'form-control' %>
  </div>
  <%= f.hidden_field :receiver_id, value: @receiver.id %>
  <%= f.submit 'Send', class: 'btn btn-primary' %>
<% end %>