<div style= "display: flex; background: rgb(219,236,255); background: linear-gradient(90deg, rgba(219,236,255,1) 0%, rgba(187,231,255,1) 29%, rgba(110,207,235,1) 75%); justify-content: center; align-items: center; height: 100vh; text-align: center; flex-direction: column;">

  <div style="background-color: #ffffff; height: 400px; padding: 20px; border-radius: 8px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); max-width: 350px; width: 100%; text-align: center;">
    <h2 style= "font-weight: bold;">Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field", style= "margin-top: 15px;">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", style: "border-radius: 3px; border: 1px solid black;" %>
      </div>

      <div class="field", style= "margin-top: 15px;">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", style: "border-radius: 3px; border: 1px solid black;" %>
      </div>

      <div class="field", style= "margin-top: 15px;">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", style: "border-radius: 3px; border: 1px solid black;" %>
      </div>

      <div class="actions", style= "margin-top: 20px;">
        <%= f.submit "Sign up", style: "background-color: #4caf50; 
        color: #ffffff; 
        border: none; 
        padding: 7px 20px;
        border-radius: 5px; 
        font-size: 16px; cursor: pointer;" %>
      </div>
    <% end %>

    <%- if controller_name != 'sessions' %>
    <div style= "margin-top: 15px;">
      Ya tienes cuenta? <%= link_to "Iniciar Sesión", new_session_path(resource_name) %><br />
    </div>
    <% end %>
  </div>
</div>

