<p style="color: green"><%= notice %></p>

<%= render @user_group %>

<div>
  <%= link_to "Edit this user group", edit_user_group_path(@user_group) %> |
  <%= link_to "Back to user groups", user_groups_path %>

  <%= button_to "Destroy this user group", @user_group, method: :delete %>
</div>
