<p style="color: green"><%= notice %></p>

<div style= "margin-top: 40px; margin-left: 40px;">
<h3> Grupo <%= @group.id %> </h3>

<div>
  <%= link_to "Edit this group", edit_group_path(@group), style: "margin-top: 10px;" %> |
  <%= link_to "Back to groups", groups_path, style: "margin-top: 10px;" %>
  <br>
  <%= link_to "Destroy this group", @group, method: :delete, class: "btn btn-danger", style: "margin-top: 10px;"%>
</div>
</div>