<p style="color: green"><%= notice %></p>

<div style="background-color: #f7f7f7; border: 1px solid #ddd; padding: 20px; text-align: center; max-width: 400px; margin: 0 auto; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); border-radius: 5px;">
  <h2>User Profile</h2>

  <div style="margin-top: 20px;">
    <p><strong>Name:</strong> <%= @user.name %></p>
    <p><strong>Last Name:</strong> <%= @user.last_name %></p>
    <p><strong>Email:</strong> <%= @user.email %></p>
    <p><strong>Telephone:</strong> <%= @user.telephone %></p>
    <p><strong>Role:</strong> <%= @user.role %></p>
  </div>

  <div style="margin-top: 20px;">
    <%= link_to "Editar datos", edit_user_path(@user), class: "btn btn-primary", style: "text-decoration: none; margin: 5px; padding: 10px 20px; border: 2px solid #007bff; background-color: #007bff; color: #fff; border-radius: 5px; font-weight: bold; display: inline-block; transition: background-color 0.3s, color 0.3s;" %>

    <%= button_to "Eliminar este usuario", @user, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger", style: "text-decoration: none; margin: 5px; padding: 10px 20px; border: 2px solid #dc3545; background-color: #dc3545; color: #fff; border-radius: 5px; font-weight: bold; display: inline-block; transition: background-color 0.3s, color 0.3s;" %>

    <% if current_user && current_user.id == @user.id %>
        <%= link_to "Logout", logout_user_path(@user), method: :get, class: "btn btn-secondary", style: "text-decoration: none; margin: 5px; padding: 10px 20px; border: 2px solid #6c757d; background-color: #6c757d; color: #fff; border-radius: 5px; font-weight: bold; display: inline-block; transition: background-color 0.3s, color 0.3s;" %>
    <% end %>

  </div>
</div>
